body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/login-bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    font-weight: 100;
}
.logo{
    color:white;
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    padding: 20px;
    padding-left: 40px;
    margin: auto;
}
.register{
    background:white;
    width:350px;
    height: 100px;
    position:relative;
    z-index:1;
    margin:0 800px 100px;
}
.form-main{
    width: 300px;
    background-color: white;
    padding: 20px;
    text-align: center;
    float:right;
    margin-right: 120px;
}
.form-main .input-field{
    width: 100%;
    margin: 15px 0;
    height: 40px;
    border:1px solid rgb(22, 58, 104);
    padding-left: 10px;
}
.form{
    color: rgb(40, 69, 133);
    font-weight:lighter;
    position: relative;
    z-index: 1;
    background:white;
    max-width:360px;
    margin:0 auto 100px;
    padding: 25px;
    text-align: center;
}
.form img{
    padding-top: 10%;
}
.form h3{
    color: rgb(103, 103, 204);
    text-align: center;
    
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: white;
    border-width: 1;
    margin: 0 0 15px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    outline: 1;
    margin: 0 180px 15px;
    border: 0;
    padding: 11px;
    width:max-content;
    background-color: rgb(37, 59, 99);
    font-size:14px;
    cursor: pointer;
}
.form p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: seashell;
}
.message a{
    color: rgb(71, 94, 134);
}
.footer{
    color: whitesmoke;
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 40px;
}
.footer p{
    color: whitesmoke;
    font-family: Poppins-Regular, sans-serif;
    font-size: 12px;
}
.border-bottom{
    display:inline-block;
    border-bottom: 2px solid white; 
    width: 40px; 
    height: 25px;
}